<%= form_for(@user, url: (@user.new_record? ? members_path : member_path(@user))) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-3">
    <%= form.label :email,class: "form-label" %> 
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group col-md-3">
    <%= form.label :user_name,class: "form-label"  %>
    <%= form.text_field :user_name, class: "form-control"  %>
  </div>

  <div class="form-group col-md-3">
    <%= form.label :password,class: "form-label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %> 
    <%= form.password_field :password, autocomplete: "new-password",  class: "form-control" %>
  </div>

  <div class="form-group col-md-3">
  <%= form.label :password_confirmation,class: "form-label"  %> 
  <%= form.password_field :password_confirmation, autocomplete: "new-password",  class: "form-control" %>
</div>

<div class="form-group col-md-3">
    <%= form.label :role,class: "form-label" %>
    <%= form.text_field :role, class: "form-control" %>
  </div>

  <div class="form-group col-md-3">
    <%= form.label :designation,class: "form-label"  %>
    <%= form.text_field :designation, class: "form-control" %>
  </div>

  <div class="form-group col-md-3">
    <%= form.label :address,class: "form-label" %>
    <%= form.text_field :address, class: "form-control"  %>
  </div>

  <div class="form-group col-md-3">
    <%= form.label :street,class: "form-label" %>
    <%= form.text_field :street, class: "form-control" %>
  </div>

  <div class="form-group col-md-3">
    <%= form.label :city,class: "form-label"  %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group col-md-3">
    <%= form.label :pincode,class: "form-label" %>
    <%= form.text_field :pincode, class: "form-control" %>
  </div>

  <div class="form-group col-md-3">
  <%= form.label :image %>
  <%= form.file_field :image, class: "form-control" %>
  </div>

  </br> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>